html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden; /* Prevent scrollbars */
}

h1, h2, h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    scale: 1.5;
}

@keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.05);
      opacity: 0.85;
      -webkit-transform: scale(1.05);
      -moz-transform: scale(1.05);
      -ms-transform: scale(1.05);
      -o-transform: scale(1.05);
}
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
.pulse {
display: inline-block;
animation: pulse 1.5s infinite ease-in-out;
}

canvas {
    background-color: blue;
}


#errorScreen {
    z-index: -2;
    background-color: red;
}

#homeScreen {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    z-index: 1;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #056124;
    color: white;
}

#gameScreen {
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-items: start;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

#brandName {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: white;
}

#playButton {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: white;
}


#homeScreen > .banner {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: min-content;
    width: 100%;
    margin-top: 3%;
    z-index: 3;
    padding: 0;
}

#homeScreen > .content {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 5;
    padding: 0;
    height: 90%;
    width: 100%;
}

#homeScreen > .footer {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: end;
    z-index: 3;
    padding: 0;
    height: 100%;
    width: 100%;
}

#homeScreen > .footer > button {
    margin: 2%;
    background-color: inherit;
    border: 0;
    color: inherit;
    cursor: pointer;
}

#gameScreen > .banner {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    margin-top: 2%;
    padding: 0;
    height: 5%;
    width: 100%;
}


#scoreBoard {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    padding: 0;
    margin-right: 3%;
    height: 80%;
    width: 7%;
    color: white;
}

#scoreText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0;
    color: white;
}


#scoreIcon {
    height: 100%;
    width:auto;
    aspect-ratio: 1;
}